
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
       View Details

        <button class="btn-dialog-close" mat-button tabIndex="-1" (click)="onClose()">
          <mat-icon>clear</mat-icon>
        </button>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

          <div class="example-container mat-elevation-z8 mt-1" #TABLE>


            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>

                </tr>
              </thead>
              <tbody>

                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>

                </tr>
              
              </tbody>
            </table>
      </div>


      </mat-card>


      <mat-toolbar class="bottom">
          <div class="button-row w-100 text-center">
            <button mat-raised-button class="serch sub" >Close</button>



          </div>
        </mat-toolbar>

