.content-body{
  min-height:100%;
  padding:55px 1rem 30px 1rem;
 
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}

.content-body::before{
  content: "";
position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
    /* background:#464538a1;

 background: linear-gradient(45deg, #012535eb, #ddd8aebf);
  background:-webkit-linear-gradient(45deg, #012535eb, #ddd8aebf);
  background:-moz-linear-gradient(45deg, #012535eb, #ddd8aebf);
  background:-o-linear-gradient(45deg, #012535eb, #ddd8aebf); */

}
h2{
  text-align: left;
    margin-left: 10%;
    color: #e0dfdc;
    /* visibility: hidden; */
}
mat-card{
  background-color:transparent !important;
  max-width: 450px;
  margin: 2em auto;
  text-align: center;
  height: 440px;
  border-radius:30px 0 30px 0 !important;
  padding-top: 0px !important;
  color: #000!important;


}
.mat-card:not([class*=mat-elevation-z]){
  box-shadow: 14px 0px 20px -9px rgb(30 30 31), -14px 10px 20px -9px rgb(30 30 31) !important;

}
.header{
   /* position: absolute; */
  text-align: center;
  margin: 0 auto 30px auto;
  width: 300px;
  /* height: 90px; */
align-items: center;
  padding:30px 15px


}
.full-width{
  width: 80%;
}
.forgot-password{
  padding-left: 0px;
}
.email-input{
  padding-top: 20px;
}
.aLink{
  float: right;
  padding-right:60px;
  text-decoration:none;
}
.form-input{
  margin-bottom:20px
}
.login{
  background-color: #c4c4c4;
  color: #ffffff;
  width: 80%;
  border-radius: 12px 0;
  margin-top: 35px;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: inset -1px -1px 8px #8c8c8a;
}
.mat-input-element{
  color: #000 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
 { -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.mat-form-field{
  margin-bottom: 25px !important;
}
.mat-typography h2 {

  margin: 0 0 25px;
}
.mat-button-wrapper{
  color: #fff !important;
}
.mat-icon-button{
  color:#c4c4c4;
}
.s1{
  font-family: 'Pacifico', cursive !important;
  /* font-family: 'Pattaya', sans-serif !important; */
  font-size: 25px;
  color: var(--main-color);
}
.s2{
  font-family: 'Sirin Stencil', cursive!important;
  font-size: 40px;
  /* font-weight: 600; */
  text-shadow: 1px 2px 3px #cdccc7;
  color: #8d8769;
  margin:10px 1.5px 0 2px;

}
.s3{
  font-family: 'Pacifico', cursive !important;
  font-size: 27px;
  color: var(--main-color);
  /* font-family: 'Pattaya', sans-serif !important; */
}
.full-width .mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 1 !important;
}
