main{
    padding:80px 10px 20px 10px;
}
mat-toolbar{
    height: 60px;
    background: #ffffff;
    color: var(--main-color);
    box-shadow: 0px 3px 10px #2d2c2c
}
.active{
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
}
.active1{
  color: var(--main-color) !important;
 
  border-radius: 0;
}
.mat-button:hover{
    background: #ffffff !important;
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color) !important;
    border-radius: 0 !important;
  
  }
  .mat-button{
      height: 38px;
  }
  .arrow{
      color: var(--main-color);
  }
  .example-container .mat-button{
      margin: 0 10px;
     
  }
  .s1{
    font-family: 'Pacifico', cursive !important;
    /* font-family: 'Pattaya', sans-serif !important; */
  }
  .s2{
    font-family: 'Sirin Stencil', cursive!important;
    font-size: 30px;
    /* font-weight: 600; */
    text-shadow: 1px 2px 3px #cdccc7;
    color: #8d8769;
    margin:-9px 2px 0 2px;

  }
  .s3{
    font-family: 'Pacifico', cursive !important;
    /* font-family: 'Pattaya', sans-serif !important; */
  }