<mat-card class="example-card p-3 pb-0">
  <div class="container-fluid pt-4 px-4" >
    <div class="row g-4">

        <div class=" offset-md-4  col-sm-5 col-xl-5 p-0  text-center shadow">
          <div class="chart-wrapper rounded mb-4">
              <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [colors]="colors"
              [options]="doughnutChartOptions"
              [plugins]="doughnutChartPlugins"
              [chartType]="doughnutChartType">
            </canvas>
          </div>

        <hr class="breakline">
        <span>Fiber </span>
              <span class="total" matBadgeColor="warn" matBadge="{{FiberCount}}" matBadgeOverlap="false"> TOTAL </span>


        </div>
        <!-- <div class="col-sm-4 col-xl-4  text-center shadow box" style="height:550px">

          <div class="chart-wrapper rounded mb-4">
            <canvas baseChart
            [data]="doughnutChartDatap"
            [labels]="doughnutChartLabelsp"
            [colors]="colors"
            [plugins]="doughnutChartPlugins"
            [chartType]="doughnutChartType"
            [options]="doughnutChartOptions">
          </canvas>
        </div>

         <hr class="breakline">

         <span>Microwave  </span>
         <span class="total"  matBadgeColor="warn" matBadge="{{waveCount}}" matBadgeOverlap="false">TOTAL</span>


        </div>

        <div class="col-sm-4 col-xl-4 p-0  text-center">

          <div class="chart-wrapper rounded mb-4">
            <canvas baseChart
            [data]="doughnutChartDataps"
            [labels]="doughnutChartLabelsps"
            [colors]="colors"
            [options]="doughnutChartOptions"
            [plugins]="doughnutChartPlugins"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
        <hr class="breakline">
        <span>Copper  </span>
        <span class="total"  matBadgeColor="warn" matBadge="{{CopperCount}}" matBadgeOverlap="false">TOTAL</span>



        </div> -->


    </div>
</div>


</mat-card>



<ngx-spinner type="timer">
<h5>Loading</h5>
</ngx-spinner>
