<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Fiber Service Request Form">
    <img
      *ngIf="param1"
      src="../../../assets/image/pdf.png"
      width="58"
      height="58"
      class="pdfbtn"
      matTooltip="convert to pdf"
      (click)="convetToPDF()"
    />
    <!-- <button class="pdfbtn" (click)="convetToPDF()">convert to pdf</button> -->
    <div id="contentToConvert" #contentTopdf style="font-family: Amiri-Regular">
      <!-- <mat-card id="dd"   class="example-card"> -->
      <mat-card id="contentToConvert0" class="example-card">
        <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">



          <input
          matInput
          type="number"
          hidden
          formControlName="serviceType"
        /> <mat-form-field [hidden]="true">
            <input
              matInput
              type="number"
              [ngModel]="2"
              formControlName="serviceTypeID"
            />
          </mat-form-field>
          <!-- <mat-divider *ngIf="param1"></mat-divider> -->
          <mat-card-header class="mb-3">
            <mat-card-title>
              <img
                src="../../../assets/image/iso.PNG"
                class="d-inline-block iso"
                width="13%"
                height="100"
              />
              <img
                src="../../../assets/image/mini_logo.png"
                class="d-inline-block iso mt-2"
                width="100"
                height="130"
              />
              <img
                src="../../../assets/image/slogan.PNG"
                class="d-inline-block iso float-right mt-5"
                width="30%"
                height="50"
              />
              <div class="text-center d-inline-block" style="width: 100%">
                <span class="ar">طلب شبكات الاتاحة على الفيبر</span>
                <br />
                <span class="eng"> Fiber Service Request Form</span>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-grid-list cols="5" rowHeight="150px" class="mx-3">
            <mat-grid-tile>
              <div class="controles-container">
                <mat-label> Name of Sales Manager :</mat-label>
                <mat-label> Contact:</mat-label>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="3">
              <div class="controles-container pt-4">
                <mat-form-field>
                  <input
                    formControlName="managerName"
                    matInput
                    [readonly]="isReadonly"
                  />
                  <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    formControlName="Contact"
                    matInput
                    [readonly]="isReadonly"
                  />

                </mat-form-field>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="controles-container">
                <mat-label class="text-right"> : اسم مدير المبيعات</mat-label>
                <mat-label class="text-right"> : بيانات الاتصال </mat-label>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                Customer Information
                <span class="float-right"> بيانات العميل</span>
              </mat-card-title>
            </mat-card-header>
            <!-- <mat-divider></mat-divider> -->
            <mat-grid-list cols="5" rowHeight="300px" class="mx-3">
              <mat-grid-tile>
                <div class="controles-container">
                  <input type="hidden" formControlName="$key" />

                  <mat-label>Company Name :</mat-label>

                  <mat-label>Contact Name :</mat-label>

                  <mat-label>Email :</mat-label>
                  <mat-label>Mobile :</mat-label>
                  <mat-label>Other Information :</mat-label>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="3">
                <div class="controles-container">
                  <mat-form-field>
                    <input
                      formControlName="CompanyName"
                      matInput
                      [readonly]="isReadonly"
                    />
                    <mat-error
                      >This field is mandatory in
                      <strong>Arabic</strong>.</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      formControlName="ContactName"
                      matInput
                      [readonly]="isReadonly"
                    />
                    <mat-error
                      >This field is mandatory in
                      <strong>Arabic</strong>.</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      formControlName="Email"
                      matInput
                      [readonly]="isReadonly"
                    />
                    <mat-error
                    >email should include "example &#64; gmail.com"</mat-error
                  >

                  </mat-form-field>
                  <mat-form-field>
                    <input
                      formControlName="Mobile"
                      matInput
                      [readonly]="isReadonly"
                    />
                    <mat-error *ngIf="form.controls.Mobile.errors?.required"
                      >This field is mandatory.</mat-error
                    >
                    <!-- <mat-error *ngIf="form.controls.Mobile.errors?.minlength"
                      >Minimum 11 number needed.</mat-error
                    > -->
                    <mat-error *ngIf="form.controls.Mobile.errors?.maxlength || form.controls.Mobile.errors?.minlength"
                    >Must be 11 numbers.</mat-error
                  >
                    <mat-error *ngIf="form.controls.Mobile.errors?.pattern"
                      >Numbers only.</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field>
                    <textarea
                      formControlName="OtherInformation"
                      matInput
                      [readonly]="isReadonly"
                    >
                    </textarea>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="controles-container">
                  <mat-label class="text-right"
                    >: اسم الشركة بالسجل التجاري
                  </mat-label>

                  <mat-label class="text-right">: الاسم </mat-label>

                  <mat-label class="text-right">: البريد الالكتروني</mat-label>
                  <mat-label class="text-right">: الموبايل </mat-label>

                  <mat-label class="text-right"> : بيانات اخرى </mat-label>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                Requested Service Data
                <span class="float-right"> بيانات الخدمة المطلوبه</span>
              </mat-card-title>
            </mat-card-header>

            <mat-grid-list cols="5" rowHeight="300px" class="mx-3">
              <mat-grid-tile>
                <div class="controles-container">
                  <mat-label class="mb-4"
                    >Requested Service / Speed :</mat-label
                  >

                  <mat-label>Number of Circuits :</mat-label>

                  <mat-label>Full Address :</mat-label>
                  <mat-label>Exchange Name :</mat-label>

                  <mat-label>Nearest Fixed Line Number :</mat-label>

                  <mat-label>Expected Upgrades :</mat-label>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="3">
                <div class="controles-container speed">
                  <mat-radio-group
                    aria-label="Select an option"
                    formControlName="serviceSpeedID"
                    [disabled]="isReadonly"
                  >
                    <mat-radio-button
                      *ngFor="let choice of serviceSpeedList"
                      [value]="choice.id"
                      >{{ choice.value }}</mat-radio-button
                    >
                    <mat-error  *ngIf="submit && form.controls.serviceSpeedID.invalid">This speed is mandatory.</mat-error>

                  </mat-radio-group>


                  <mat-form-field>
                    <input
                      type="number"
                      formControlName="NumberofCircuits"
                      matInput
                      min="0"
                      [readonly]="isReadonly"
                    />

                  </mat-form-field>
                  <mat-form-field>
                    <input
                      formControlName="FullAddress"
                      matInput
                      [readonly]="isReadonly"
                    />
                    <mat-error
                      >This field is mandatory in
                      <strong>Arabic</strong>.</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      formControlName="ExchangeName"
                      matInput
                      [readonly]="isReadonly"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      formControlName="NearestFixedLineNumber"
                      matInput
                      [readonly]="isReadonly"
                    />

                  </mat-form-field>
                  <mat-form-field>
                    <input
                      formControlName="ExpectedUpgrades"
                      matInput
                      [readonly]="isReadonly"
                    />

                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="controles-container pl-0">
                  <mat-label class="text-right mb-3">
                    <mat-form-field class="speednum mr-1">
                      <input
                        type="number"
                        formControlName="numberOfSpeed"
                        matInput
                        min="0"
                        [readonly]="isReadonly"
                      />
                      <mat-error>*Required</mat-error>
                    </mat-form-field>
                    : السرعة المطلوبة
                  </mat-label>
                  <mat-label class="text-right mb-2">: عدد الدوائر </mat-label>
                  <mat-label class="text-right">: عنوان الخدمة </mat-label>
                  <mat-label class="text-right">: اسم السنترال </mat-label>

                  <mat-label class="text-right mb-1">: اقرب تليفون </mat-label>

                  <mat-label class="text-right">: الترقية المتوقعة</mat-label>
                </div>
              </mat-grid-tile>

              <mat-grid-tile colspan="5" class="nots">
                <div class="w-100">
                  <!-- <mat-label class="inquire w-100 text-right">  (ملاحظات ( رجاء كتابة أي ملاحظات أو أستفسارات</mat-label> -->
                  <!-- <mat-label class="d-block">Contract Period  </mat-label> -->
                  <mat-form-field floatLabel="always" class="n1">
                    <mat-label> </mat-label>

                    <textarea
                      formControlName="notes"
                      row="10"
                      class="text-left"
                      [readonly]="isReadonly"
                      matInput
                    >
                    </textarea>
                  </mat-form-field>
                  <mat-label class="text-right n2">
                    (ملاحظات ( رجاء كتابة أي ملاحظات أو أستفسارات</mat-label
                  >
                </div>
                <div class="feed w-100 p-2">
                  <div class="divide d-inline-block">
                    <div class="add-bottom-padding">
                      <mat-label class="radio-group-label"
                        >Contract Period:
                      </mat-label>
                      <mat-form-field class="example-section d-inline-block">
                        <input
                          formControlName="contractPeriod"
                          matInput
                          [readonly]="isReadonly"
                        />
                      </mat-form-field>
                    </div>
                    <div class="add-bottom-padding">
                      <mat-label class="radio-group-label"
                        >Circuit Protection :
                      </mat-label>

                      <section class="example-section d-inline-block mt-1">
                        <mat-radio-group
                          formControlName="CircuitProtection"
                          [disabled]="isReadonly"
                        >
                          <mat-radio-button [value]="true"
                            >Yes</mat-radio-button
                          >
                          <mat-radio-button [value]="false"
                            >No</mat-radio-button
                          >
                        </mat-radio-group>
                      </section>
                    </div>
                    <div class="add-bottom-padding">
                      <mat-label class="radio-group-label"
                        >Path Protection :
                      </mat-label>

                      <section class="example-section d-inline-block">
                        <mat-radio-group
                          formControlName="PathProtection"
                          [disabled]="isReadonly"
                        >
                          <mat-radio-button [value]="true"
                            >Yes</mat-radio-button
                          >
                          <mat-radio-button [value]="false"
                            >No</mat-radio-button
                          >
                        </mat-radio-group>
                      </section>
                    </div>
                    <div class="add-bottom-padding">
                      <mat-label class="radio-group-label"
                        >Promising Area :
                      </mat-label>

                      <section class="example-section d-inline-block">
                        <mat-radio-group
                          formControlName="PromisingArea"
                          [disabled]="isReadonly"
                        >
                          <mat-radio-button [value]="true"
                            >Yes</mat-radio-button
                          >
                          <mat-radio-button [value]="false"
                            >No</mat-radio-button
                          >
                        </mat-radio-group>
                      </section>
                    </div>
                    <label class="text-left note">


            برجاء تحديد إن كانت المنطقة واعدة ( توسعات أو عملاء جدد ) أو لا*

                    </label>
                  </div>
                  <div class="d-inline-block divide">
                    <!-- <mat-form-field floatLabel="always" class="w-100" >
                        <mat-label>  </mat-label>

                        <textarea formControlName="notes" row="10" class="text-left" [readonly]="isReadonly" matInput placeholder="write your Notes here">
                        </textarea>

                      </mat-form-field> -->
                    <!-- <label class="mt-5  text-left note w-100"
                      >برجاء تحديد إن كانت المنطقة واعدة توسعات أو عملاء جدد أو
                      لا *</label
                    > -->
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="130px" class="mx-3" >
              <mat-grid-tile colspan="1" rowspan="2"> </mat-grid-tile>
              <mat-grid-tile colspan="3">
                <div class="controles-container text-right">
                  <mat-form-field class="w-50">
                    <input matInput [readonly]="true" />
                    <mat-error
                      >This field is mandatory in
                      <strong>Arabic</strong>.</mat-error
                    >
                  </mat-form-field>
                  <mat-label class="w-25 text-right"> :الاسم </mat-label>
                  <br />
                  <mat-label class="w-25">Name : </mat-label>
                  <mat-form-field class="w-50">
                    <input matInput [readonly]="true" />
                    <mat-error
                      >This field is mandatory in
                      <strong>Arabic</strong>.</mat-error
                    >
                  </mat-form-field>
                </div>
              </mat-grid-tile>

              <mat-grid-tile colspan="2">
                <div class="controles-container">
                  <mat-form-field class="w-75">
                    <input matInput [readonly]="true" />
                    <mat-error
                      >This field is mandatory in
                      <strong>Arabic</strong>.</mat-error
                    >
                  </mat-form-field>
                  <mat-label class="w-25 text-right"> : التوقيع </mat-label>
                  <mat-label class="w-25">Signature : </mat-label>
                  <mat-form-field class="w-75">
                    <input matInput [readonly]="true" />
                    <mat-error
                      >This field is mandatory in
                      <strong>Arabic</strong>.</mat-error
                    >
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <div class="controles-container"></div>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <div class="controles-container">
                  <div id="hideStatusId2" class="mt-5" >
                    <mat-label class="">Sector :</mat-label>
                    <mat-form-field class=""  >
                      <mat-select formControlName="sectorID" [disabled]="isReadonly">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let item of sectorList">
                          <mat-option [value]="item.id">{{
                            item.value
                          }}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <div class="controles-container">
                  <div id="hideStatusId0" class="mt-5" [hidden]="isSales">
                    <mat-label class="">Action :</mat-label>
                    <mat-form-field class="">
                      <mat-select formControlName="acceptstatusId">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let item of actionstatusList">
                          <mat-option [value]="item.id">{{
                            item.value
                          }}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <div class="controles-container">
                  <div id="hideStatusId1" class="mt-5"  *ngIf="isSales || isPreSales || isAdmin">
                    <mat-label class="w-100"
                      >Rejection Reason :</mat-label>
                    <mat-form-field class="w-100">

                    <textarea
                      formControlName="rejectionReason"
                      row="10"
                      class="text-right"
[readonly]="isSales"
                      matInput
                    >
                    </textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <div class="controles-container">
                  <!-- <div id="hideStatusId" class="mt-5" *ngIf="isSales && showStatus"> -->
                    <div id="hideStatusId" class="mt-5" >
                    <mat-label class="" >Status :</mat-label>
                    <mat-form-field class="">
                      <!-- <mat-select
                          formControlName="statusId"
                          [disabled]="!adminflag0"
                        >
                          <mat-option>None</mat-option>
                          <ng-container *ngFor="let item of statusList">
                            <mat-option [value]="item.id">{{
                              item.value
                            }}</mat-option>
                          </ng-container>
                        </mat-select> -->
                        <input matInput  formControlName="status" [readonly]="true" />



                    </mat-form-field>
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
          <mat-grid-list cols="1" rowHeight="50px">
            <mat-grid-tile>
              <div class="controles-container" id="SubmitId">
                <div class="text-right">
                  <button
                    mat-button
                    class="mr-1 bac"
                    type="button"
                    routerLink="../fiber"
                  >
                    Finish
                  </button>

                  <button mat-button class="sub" [disabled]="isDisabled" type="submit">Submit</button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="50px">
            <mat-grid-tile>
              <div class="controles-container text-center">
                <span class="address">
                  القرية الذكية ,الكيلو28, طريق القاهرة اسكندرية الصحراوي,
                  الجيزة 12577, مصرB7
                </span>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Comments" *ngIf="param1">
    <form
      [formGroup]="formComment"
      class="normal-form"
      (submit)="saveComment()"
    >
      <div class="Comment w-50">
        <mat-form-field floatLabel="always" class="w-100 text-left">
          <mat-label>Comment</mat-label>
          <textarea
            matInput
            formControlName="comment"
            placeholder="write your comment here"
            rows="3"
          ></textarea>

        </mat-form-field>

        <button
          mat-button
          class="sub subcoment"
          [disabled]="formComment.invalid"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
    <!-- <app-loader *ngIf="dataSource==null;else table"></app-loader>
  <ng-template #table> -->
    <div class="example-container mat-elevation-z8" #TABLE>
      <!-- <div class="mat-elevation-z8"> -->
      <mat-table
        [dataSource]="dataSourceComment"
        class="shadow"
        matSort
        multiTemplateDataRows
        #table
      >
        <!-- Name Column -->
        <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "comments" }}
          </mat-header-cell>
          <!--
        <mat-cell *matCellDef="let element" title="{{element.comment}} " data-label="comment"> {{element.comment?.length>50?  (element.comment | slice:0:50 )+' ...' :element.comment }} </mat-cell> -->

          <mat-cell *matCellDef="let row" data-label="comments">
            <button
              mat-button
              class="text-success"
              matTooltip="View Details"
              (click)="row.isExpanded = !row.isExpanded"
            >
              <mat-icon>content_paste_search</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedCommentColumns.length"
          >
            <div
              class="row student-element-detail"
              [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
            >
              <mat-list>
                <mat-list-item>
                  {{ element.comment }}
                </mat-list-item>
              </mat-list>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Creation date" }}</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Creation date">
            {{ element.creationDate | date : "medium" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Created by" }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Created by">
            {{ element.createdBy }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdByTeam">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Created by team" }}</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Created by team">
            {{ element.createdByTeam }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="4">
            No Data ...
          </mat-footer-cell>
        </ng-container>

        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(
              dataSourceComment.data.length == 0 && dataSourceComment != null
            )
          }"
        ></mat-footer-row>
        <mat-header-row
          *matHeaderRowDef="displayedCommentColumns"
        ></mat-header-row>
        <!-- <mat-row *matRowDef="let row; columns: displayedCommentColumns;">
        </mat-row> -->
        <mat-row
          *matRowDef="let row; columns: displayedCommentColumns"
          class="student-element-row"
          [class.student-expanded-row]="row.isExpanded"
        ></mat-row>
        <!-- Extra row to show detail content column -->
        <mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="student-detail-row"
        ></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[30, 50, 100]"
        [pageSize]="30"
      ></mat-paginator>
    </div>
    <!-- </ng-template> -->
  </mat-tab>
  <mat-tab label="File Upload" *ngIf="param1">
    <div class="mb-4">
      <div class="import-excel d-inline-block">
        <div class="input-group">
          <label class="btn browse">
            <input
              class="file-upload-input"
              #fileInput
              name="file"
              type="file"
              for="browse"
              (change)="uploadFileEvt($event)"
            />
            Browse
          </label>
          <input
            class="form-control rounded-0"
            placeholder="Choose File..."
            [(ngModel)]="fileAttr"
            type="text"
            id="browse"
          />
        </div>

        <!-- <p class="help-block" style="display:block;">
          <small>error msg.</small></p> -->
      </div>
      <span class="input-group-btn d-inline-block">
        <label class="btn file-upload-btn" matTooltip="Upload">
          <input class="file-upload-input" type="button" (click)="Upload()" />
          <mat-icon>upload</mat-icon>
        </label>
      </span>
    </div>

    <app-loader *ngIf="dataSource == null; else table"></app-loader>
    <ng-template #table>
      <div class="example-container mat-elevation-z8" #TABLE>
        <!-- <div class="mat-elevation-z8"> -->
        <mat-table [dataSource]="dataSource" matSort class="shadow" #table>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> {{ "name" }} </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Value">
              {{ element.name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Download">
            <mat-header-cell *matHeaderCellDef>
              {{ "Download" }}</mat-header-cell
            >
            <mat-cell *matCellDef="let row" data-label="Download">
              <button
                mat-button
                class="text-success font-weight-bolder"
                matTooltip="download"
                (click)="onDownLoad(row)"
              >
                <mat-icon>download</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef>
              {{ "Creation date" }}</mat-header-cell
            >
            <mat-cell *matCellDef="let element" data-label="Creation date">
              {{ element.creationDate | date : "medium" }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef>
              {{ "Created by" }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Created by">
              {{ element.createdBy }}</mat-cell
            >
          </ng-container>
          <ng-container matColumnDef="createdByTeam">
            <mat-header-cell *matHeaderCellDef>
              {{ "Created by team" }}</mat-header-cell
            >
            <mat-cell *matCellDef="let element" data-label="Created by team">
              {{ element.createdByTeam }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="2">
              No Data ...
            </mat-footer-cell>
          </ng-container>

          <mat-footer-row
            *matFooterRowDef="['noData']"
            [ngClass]="{
              hide: !(dataSource.data.length == 0 && dataSource != null)
            }"
          ></mat-footer-row>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
        <!-- </ng-template> -->
        <mat-paginator
          [pageSizeOptions]="[30, 50, 100]"
          [pageSize]="30"
        ></mat-paginator>
      </div>
    </ng-template>
  </mat-tab>
  <!-- <mat-tab label="ESPT Feedback" *ngIf="param1 && renew"> -->
    <mat-tab label="ESPT Feedback" *ngIf="param1 && !isSales">
    <div class="mb-4 example-container">
      <mat-card class="example-card">

            <mat-card-title>

              Feedbacks

               <div class="" style="float: right;" *ngIf="isEspt">
                <button mat-button class="opt  " (click)="onCreate()" >

                  <mat-icon class="add-new ico" >add</mat-icon>
               <span class="txt mr-1"> Add New </span>
              </button>
              </div>
              </mat-card-title>

              <mat-divider></mat-divider>
      <div class="mt-3" #TABLE>
        <!-- <div class="mat-elevation-z8"> -->
        <mat-table
          [dataSource]="dataSourceEsptFeedback"
          class="shadow"
          matSort
          multiTemplateDataRows
          #table
        >


          <!-- comment Column -->
          <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "Comments" }}
            </mat-header-cell>



            <mat-cell *matCellDef="let row" >
              <button
              mat-button
              class="text-success"
              matTooltip="View Comments"
              (click)="expand(row,'Comment')"
            >
              <mat-icon>content_paste_search</mat-icon>
            </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Availability">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Availability</mat-header-cell
            >
            <mat-cell *matCellDef="let element" data-label="Availability">
{{element.availability}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Distance">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Distance</mat-header-cell
            >
            <mat-cell *matCellDef="let element" data-label="Distance">
             {{element.distance}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Attachments">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Attachments  </mat-header-cell
            >
            <mat-cell *matCellDef="let row" class="text-center">
              <button
                mat-button
                class="font-weight-bolder"
                style="color:var(--fifth-color)"
                matTooltip="View Attachments"
                (click)="expand(row,'Attach')"
              >
                <mat-icon>attach_file</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="expandedDetail" >

            <mat-cell
              *matCellDef="let element"
              [attr.colspan]="displayedFeedColumns.length"

            >
              <div
                class="row student-element-detail1"

                [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
              >
                <mat-list>
                  <ng-container *ngIf="elementName=='Attach'">
                    <mat-list-item  *ngFor="let file of element?.attaches">

                      <mat-list-item>
                         <button
                        mat-button
                        class="text-success font-weight-bolder"
                        matTooltip="download"
                        (click)="onDownLoadAttach(file)"
                      >
                        <mat-icon>download</mat-icon>
                      </button>

&nbsp;&nbsp;
                      {{file?.name}}
                    </mat-list-item>

                       </mat-list-item>
                  </ng-container>

                  <mat-list-item *ngIf="elementName=='Comment'">

                    {{element.comment}}
                                      </mat-list-item>
                </mat-list>
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "Creation date" }}</mat-header-cell
            >
            <mat-cell *matCellDef="let element" data-label="Creation date">
           {{element.creationDate | date:'short'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "Created by" }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Created by">
                {{element.createdBy}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="modificationDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "Modification Date" }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" >
                {{element.modificationDate | date:'short'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="modifyiedBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "Modifyied By" }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" >
                {{element.modifyiedBy}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action"  >
            <mat-header-cell *matHeaderCellDef  [hidden]="!isEspt"> {{'Action'}}</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Action" [hidden]="!isEspt">

                <button mat-button class="text-success font-weight-bolder" matTooltip="Edit"   (click)="onEditFeedback(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="warn" [hidden]="esptFlag" (click)="onDelete(row.id)" matTooltip="Delete">
                  <mat-icon>delete_forever</mat-icon>
              </button>

            </mat-cell>

        </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="12">
              No Data ...
            </mat-footer-cell>
          </ng-container>

          <mat-footer-row
            *matFooterRowDef="['noData']"
            [ngClass]="{
              hide: !(
                dataSourceEsptFeedback.data.length == 0 && dataSourceEsptFeedback != null
              )
            }"
          ></mat-footer-row>
          <mat-header-row
            *matHeaderRowDef="displayedFeedColumns"
          ></mat-header-row>
          <!-- <mat-row *matRowDef="let row; columns: displayedCommentColumns;">
          </mat-row> -->
          <mat-row
            *matRowDef="let row; columns: displayedFeedColumns"
            class="student-element-row"
            [class.student-expanded-row]="row.isExpanded"
          ></mat-row>
          <!-- Extra row to show detail content column -->

          <mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="student-detail-row"
        ></mat-row>

        </mat-table>
        <mat-paginator #paginatorFeedback
        [pageSizeOptions]="[5, 10, 25,50,100]"
        [pageSize]="5"
      ></mat-paginator>

      </div>
      </mat-card>
      </div>
      </mat-tab>
</mat-tab-group>

<!-- <app-loader ></app-loader> -->
<ngx-spinner type="timer">
  <h5>Loading</h5>
</ngx-spinner>
