@font-face {
  font-family: myFirstFont;
  src: url('../../../assets/Amiri-Regular.ttf');
}

mat-radio-button{
    margin:0 5px;
    vertical-align: sub;
}
/* .radio-group-label{
    margin: 5px 5px 5px 0;
} */
.mat-icon-button{
    color: #a0a68d !important;

}

label.sp{
  color: #000000 !important;
  font-weight: 600;
  /* text-shadow: 3px 3px 3px #bebebe !important; */

}
mat-card-header:nth-child(1){
    /* background: #980dc3; */
    background: var(--fifth-color);
    color: #fff;
    border-radius: 20px 0 20px 0;;

}
.bac{
  background: var(--font-color);
  color: #fff;
}
mat-tab-group{
  width: 85%;
  margin: auto;
}
mat-tab-body{
  padding: 50px 10px;
}
mat-tab-body-content:nth-child(2){
  height: 250px !important;
}

    .mat-icon.beig{
      text-shadow: 0px 0px 0px transparent;
    }
    .cdk-overlay-connected-position-bounding-box {
      position: absolute;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      min-width: 1px;
      min-height: 1px;
      right: 0 !important;
  }
  .separator{
    color: #f4f3f3;
    font-size: 17px;

  }
  .option{
    font-size: 12px;
    color:#99996d
  }
  .option:hover{
    cursor: pointer;
    color: #c4c4a2;

  }
  .input-group{
    height: 35px;
  }
  span.input-group-btn {
    background: #ccc;
    height: 35px;
  }

    /* test */

.file-upload-btn {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 35px;
  color:#fff;
  background: var(--fifth-color);

}
.help-block {
  display: block;
  margin-top: -4px;
  margin-bottom: 10px;
  color: crimson;
}
.file-upload-input {
    bottom: 0;
    cursor: inherit;
    font-size: 1000px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
}
.form-control{
  height: 35px;
  box-shadow: inset 2px 2px 6px var(--third-color), inset -2px -2px 6px var(--third-color);
  border: 0;
}
.mat-menu-item{
    padding: 0 5px !important;
}
li{
    border-bottom: 1px solid #eee;
}
li:last-of-type{
    border-bottom: 0 !important;
}



#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;

  }
  #upload{
    background-color: transparent;
    border: 1px dashed #252131;
    position: static;
    margin: 20px auto 10px auto;
    width: 140px;
    color: #252131;
    font-size: 20px;
    font-weight: 700;

  }
  .mat-button{
    min-width: 24px !important;
}



.btn-color{
    color: #fff;
    background-color: #3a5a81;
    width: 120px;
    text-align: center;
   }
   .field{
     padding: 10px 15px;

   }
   .data{
    border: 1px dashed #3a5a81;
    padding: 10px 15px;
    font-size: 13px;
    margin: 0 20px;
    font-family: 'ZCOOL XiaoWei', serif;
   }
   .sheet{
     width: 100% !important;
   }
   mat-header-row {
    min-height: 50px !important;
    background-color: var(--third-color);
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px !important;
}
.add:hover{
  cursor: pointer;
}
.browse{
  height: 35px;
    box-shadow: inset 0px 0px 6px var(--cr4-color), inset 0px 0px 6px var(--cr4-color);
    border: 0;
    background: var(--cr2-color);
    border-radius: 2px;
    z-index: 1;

    color: #fff;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper{
  margin-top: -20px !important;
    font-size: 13px !important;
    text-align: end !important;
}
mat-label {
  color: #000000 !important;
  font-weight: 600 !important;
  font-size: 16px !important ;
  display: inline-block;
  padding: 0.5rem 0;
  height: 40px;

}
[formControlName="ExpectedUpgrades"]{
  margin-top: 0px;
}
.mat-form-field.mat-focused .mat-label{
  color: #000000 !important;
  font-weight: 600;
  font-size: 20px !important;

}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--third-color);
  border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: var(--font-color);
  }

  .iso{
    vertical-align: top;
      margin-top: 20px;
      opacity: .5;
  }
.ar{
  font-size: 29px;
}
.eng{
  font-size: 29px;
}
.example-container{
  overflow: hidden !important;
}
mat-card-title:nth-child(1) span.ar,mat-card-title:nth-child(1) span.eng,.address{
  /* color: #980dc3 !important; */
  color: var(--fifth-color) !important;
 }
 mat-card:not([class*=mat-elevation-z]) {
  box-shadow:none !important;
  color: #000000 !important;
}
.feed{
  /* border: 1px solid  #980dc3 ; */
  border: 1px solid var(--fifth-color) ;
  position: relative;
}
.inquire{
  position: absolute;
  top: 0px;
  right: 1px;
}
.note{
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  bottom: 13px;
  right: 30%;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0 !important;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: center;
  /* top: -19px; */
  top: -12px;
}
.divide
{
  width: 47%;
}
.add-bottom-padding{
  display: flex;
}
.add-bottom-padding mat-label
{
  width: 40%;
}
.add-bottom-padding .example-section
{
  width: 40%;
  padding: 3px 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline
{
  height: 0 !important;
}
.mat-list-base .mat-list-item .mat-list-item-content{
  font-size: 13px !important;
}
