.file-upload-btn {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 35px;
  color:#fff;
  background: var(--fifth-color);

}
.help-block {
  display: block;
  margin-top: -4px;
  margin-bottom: 10px;
  color: crimson;
}
.file-upload-input {
    bottom: 0;
    cursor: inherit;
    font-size: 1000px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
}
.browse{
  height: 35px;
    box-shadow: inset 0px 0px 6px #d4d4b6, inset 0px 0px 6px #d4d4b6;
    border: 0;
    background: var(--main-color);
    border-radius: 2px;
    z-index: 1;

    color: #fff;
}
.form-control{
  height: 35px;
  box-shadow: inset 2px 2px 6px var(--third-color), inset -2px -2px 6px var(--third-color);
  border: 0;
}
.mat-form-field {
  margin-bottom: 20px;
}
mat-label {
  color: #000000 !important;
  font-weight: 600 !important;
  font-size: 16px !important ;
  display: inline-block;
  padding: 0.5rem 0;
  height: 40px;

}
