<mat-toolbar class="top pl-3">

  <span class="fill-remaining-space">{{dialogTitle}}</span>
  <div class="w-100">
      <button class="btn-dialog-close" mat-button tabIndex="-1"  type="button" (click)="onClose()">
          <mat-icon class="text-white">clear</mat-icon>
      </button>
  </div>
</mat-toolbar>
<!-- <mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>
         ESP Feedback
      </mat-card-title>
  </mat-card-header>
  <mat-divider class="my-1"></mat-divider> -->
  <div class="mt-2">
    <form  [formGroup]="form" class="normal-form mx-0" (submit)="onSubmit()" >
      <mat-grid-list cols="5" rowHeight="350px">
        <mat-grid-tile colspan="3">
          <!-- <div class="controles-container commentbox">
             <input type="hidden" formControlName="id">

            <mat-label>Notes</mat-label>
            <mat-form-field appearance="outline">
              <textarea rows="9" formControlName="textData" matInput placeholder="write your notes here...."></textarea>
            </mat-form-field>


          </div> -->

          <div class="controles-container">
            <ejs-richtexteditor id='defaultRTE' [toolbarSettings]='tools'[iframeSettings]='iframe' [height]='height'>
              <!-- <ng-template #valueTemplate>

              </ng-template> -->
              </ejs-richtexteditor>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="controles-container">
            <div class="w-100 mb-2 mt-5">
              <mat-radio-group  formControlName="Availability">
            <mat-label class="mr-4">Availability:</mat-label>

              <mat-radio-button value="Available" >Available</mat-radio-button>
                <mat-radio-button  value="Not Available" >Not Available</mat-radio-button>

            </mat-radio-group>
  </div>
  <div class="w-100  mb-2">
    <mat-radio-group class="d-flex w-100"  formControlName="Distance">
  <mat-label class="mr-4 w-25 ">Distance :</mat-label>

   <div class="w-75 mt-3">
    <mat-radio-button  value="Less than 5KM" >Less than 5KM</mat-radio-button>
    <br>

    <mat-radio-button value="5-10 KM" >5 -  10 KM</mat-radio-button>
    <br>

    <mat-radio-button  value="More than 10KM" >More than 10KM</mat-radio-button>
   </div>

  </mat-radio-group>
  </div>
            <div class=" d-inline-block">
              <mat-label>Upload an Attachments</mat-label>
              <br>

              <div class="input-group">
                <label class="btn browse">
                  <input
                    class="file-upload-input"
                    #fileInputAttach
                    name="file"
                    type="file"
                    for="browse"
                    multiple
                    (change)="uploadFileEvtAttach($event)"
                  />
                  Browse
                </label>
                <input
                  class="form-control rounded-0"
                  placeholder="Choose File..."
                  [(ngModel)]="fileAttr"
                  [ngModelOptions]="{standalone: true}"
                  type="text"
                  id="browse"
                />
</div>
              </div>

<div class="fileList w-100">
  <mat-list  *ngIf="fileVal.length > 0">
    <mat-list-item *ngFor="let file of fileVal ;let i=index">
      {{file.name}}
      <button mat-icon-button type="button" *ngIf="dialogTitle=='Create'" (click)="removeImg(i)">
        <mat-icon class="text-sm text-danger">close</mat-icon></button>
    </mat-list-item>
  </mat-list>
</div>





          </div>
        </mat-grid-tile>


      </mat-grid-list>

        <mat-toolbar class="bottom">
          <div class="button-row w-100 justify-content-between d-flex ">

              <button mat-button class="clr" type="button" (click)="onClose()">
                Cancel
              </button>
              <button mat-button *ngIf="dialogTitle=='Create'"  class="submit " type="submit">
                Create
              </button>
              <button mat-button *ngIf="dialogTitle=='Update'" class="submit " type="submit">
                Update
              </button>
          </div>
      </mat-toolbar>
    </form>

   </div>
<!-- </mat-card> -->


